.breadcrums{
    padding: 0;
    margin: 0;
}
.path{
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    display: flex;
    align-items:center;
    gap: 10px;
}

.Product-infos{
    display: flex;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:40px;
    padding-left: 50px;
    margin-left: 40px;
}
.small-img img{
    height: auto;
    width: 120px;
    display: grid;
    gap:20px;
    padding: 10px;
    padding-left: 0px;
}
.main-img img{
    width: 525px;
    height: auto;
}
.main-infos{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.main-infos h1{
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 60px;
}
.ptage{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}
.ptage .old{
    color: rgb(125, 128, 128);
    text-decoration: line-through;
}
.ptage .new{
    color: rgb(250, 47, 47);
}
.selectsize button{
    width: 50px;
    height: 50px;
    background-color:rgb(218, 221, 221);
    border-color: transparent;
    cursor: pointer;
    
}
.selectsize{
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
    
}
.selectsize button:hover{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.add-to-cart button{
    height: 40px;
    width: 150px;
    background-color: rgb(247, 46, 46);
    border-color: transparent;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 50px;
    cursor: pointer;
}
.add-to-cart button:hover{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.add-to-cart button:active{
    background-color: rgb(255, 86, 86);

}
.over{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}